# OS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Composer
vendor/

# Node
**/node_modules/

# Environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Cache
storage/**/*.*
!storage/**/index.html
